[run]
source = src
omit =
    */tests/*
    */site-packages/*
    setup.py
    */docker/*
    */cdk/*
    src/igvf_checkfiles.py
    src/old_lattice_checkfiles.py
    src/cli/*
    */__init__.py
    src/tests/*
    src/checkfiles.egg-info/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    SCANPY_AVAILABLE = False
    H5PY_AVAILABLE = False
    
[html]
directory = coverage_html_report 